@import '~bootstrap/scss/bootstrap';

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b296d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1f112d;
}

.bg-violet {
    background-color: #1f112d !important;
}

#about {
    font: 400 15px Lato, sans-serif;
    color: #818181;

    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .jumbotron {
        padding: 50px 15px;
        font-family: Montserrat, sans-serif;
    }

    &.container-fluid {
        padding: 60px 50px;
    }

    .img-600 {
        max-width: 600px;
    }
}
