.navbar {
    // position: sticky;
    // top: 0;
}
.navbar-nav {
    align-items: center;
}
.navbar,
.navbar-toggler {
    color: white;
}

.nav-link {
    color: rgba(255, 255, 255, 0.55) !important;
}
.nav-link.active,
.nav-link:hover {
    color: rgba(255, 255, 255, 0.9) !important;
}
